<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david.trimettrack">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StopArrivalCheckActivity"
            android:label="@string/title_activity_stop_arrival_check" />
        <activity
            android:name=".FindRideActivity"
            android:label="@string/title_activity_find_ride" />
        <activity
            android:name=".UberLyftListActivity"
            android:label="@string/title_activity_ride_list_view" />

        <meta-data
            android:name="trimetAppID"
            android:value="@string/trimetApiKey" />

        <activity android:name=".StopNearbyCheckActivity"></activity>
    </application>

</manifest>